
@import './styles/base.css';
@import './styles/animations.css';
@import './styles/components.css';
@import './styles/tabs.css';
@import './styles/search.css';

@keyframes shine {
  from {
    background-position: 200% center;
  }
  to {
    background-position: -200% center;
  }
}

.animate-shine {
  background-size: 200% auto;
  animation: shine 3s linear infinite;
}
